@import "../assets/mixins";

.buttons {
  width: 100%;
  max-width: 400px;
  margin-bottom: 0.5rem;
  position: absolute;
  top: -2rem;
  @include row-full(0.5rem);
  
  button {
    @include button;
  }
}
