$background-color: #fff;
$text-color: black;
$border-radius: 0.5rem;
$main-padding: 1rem;
$flex-gap: 1rem;

$breakpoint-mobile-sm: 320px;
$breakpoint-mobile-lg: 767px;
$breakpoint-tablet-sm: 768px;
$breakpoint-desktop-sm: 1280px;
